header img {
    height: 50px;
}

form.container {
    max-width: 360px;
    margin-bottom: 1em;
}

form input{
    margin: 0, 0.25em;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
}

.section-container {
    padding: 1em;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
}

.response {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div.response {
    white-space: normal;
    word-wrap: normal;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 1em;
}
