body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

header img {
    height: 50px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.response {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cont-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#imagens-produtos {
    display: flex;
    flex-wrap: wrap;
}

#imagens-produtos img {
    margin: 10px
}